<ion-view title="Temperature">
  <ion-nav-buttons side="left">
    <button class="button icon ion-plus" ng-click="newReading()">
    </button>
  </ion-nav-buttons>
	<ion-content>    
    <h2>Recent readings</h2>
    <ion-list>
      <ion-item ng-repeat="temperature in temperatures">
        <h2>{{temperature.degree}} C</h2>
        <p>
          <i class="icon ion-calendar"></i>
          {{temperature.createdAt}}
        </p>
        <p>
          <i class="icon ion-calculator"></i>
          {{temperature.sensor}}
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>